@import "../theme.less";
@import "../mixins.less";

html {
  font: 10px 'Lucida Grande', sans-serif;
}

body {
  background-color: @bg-color;
  color: @font-color;
  font-size: 11px;
}

iframe {
  border: 0;
}

:global(.disable-selection) {
  .no-selection();
}

:global(.compact-font) {
  font-family:  'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, sans-serif;
}

button {
  border: 0;
  background-color: inherit;
  color: inherit;
}

