@import "../theme.less";
@import "../mixins.less";

@fontSize: 11px;

html, pre {
  font: @fontSize 'Lucida Grande', sans-serif;
}

body {
  background-color: @bg-color;
  color: @font-color;
}

iframe {
  border: 0;
}

:global(.disable-selection) {
  .no-selection();
}

:global(.compact-font) {
  font-family:  'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, sans-serif;
}

button {
  border: 0;
  background-color: inherit;
  color: inherit;
}

pre {
  line-height: 1.5;
}

table {
  font-size: @fontSize;  
}