@import '../../styles/theme.less';

.symbolButton {
  &:active {
    transition: 100ms;
  }
  cursor: pointer;
}

.neutral {
  .symbolButton;
  color: @symbol-button-color;
  &:hover {
    color: @symbol-button-hover-color;
  }
  &:active {
    color: @symbol-button-active-color;
  }
}

.danger {
  .symbolButton;
  color: @symbol-button-color;
  &:hover {
    color: @color-danger;
  }
  &:active {
    color: @color-danger-light;
  }
}