@import "~ui/styles/theme.less";

.root {
  display: flex;
  justify-content: space-between;
  background-color: @work-area-control-bar-bg-color;
  color: @work-area-control-bar-font-color;
  white-space: nowrap;
}

.button {
  cursor: pointer;
  padding: 5px 5px 4px 5px;

  &:hover {
    background-color: @work-area-control-bar-bg-color-active;
  }
  line-height: 1;
}

.left, .right {
  display: flex;
  align-items: baseline;
}

.right {
  flex-direction: row-reverse;
}

@border: 1px solid @border-color;
.left .button {
  border-right: @border;
}
.right .button {
  border-left: @border;
}


.button.disabled {
  color: @font-color-suppressed;
  &:hover {
    background-color: @work-area-control-bar-bg-color;
  }
}
