.root  {
  //overflow: auto;
  //position: absolute;
  //top:0;
  //left:0;
  //bottom:80px;
  //max-width: 300px;
}

.root :global(.sectionHeader) {
  margin: 3px;
  padding: 2px;
  background-color: #7d7d7dee;
  border: #595959 1px solid;
  border-radius: 3px;
  pointer-events: initial;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}