.quickButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0;
  border-right: 1px solid #8e8e8e;
  padding-right: 3px;
  & > * {
    font-size: 10px;
    padding: 2px 2px;
    margin: 1px 5px;
    svg {
      width: 17px;
      height: 17px;
    }
  }
}

.mainActions {
  flex: 1 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
  svg {
    width: var(--toolbar-icon-size, 17px);
    height: var(--toolbar-icon-size, 17px);
  }
}