@import "~ui/styles/theme.less";
:global(.SVG_ICON) {
  stroke: #fff;
}

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fullLayout {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  position: relative;
}
.topBar {
  position: relative;
  z-index: 20;
  display: flex;
  pointer-events: auto;
  background-color: rgba(22, 22, 27, 0.92);
  border-bottom: 1px solid rgba(42, 42, 54, 0.5);
}
.belowBar {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}
.mainArea {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mainArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

:global(#viewer-container) {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.mainLayout {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  display: flex;
  flex-direction: column;
  
  pointer-events: none;
}

.headsUp {
  display: flex;
  flex-direction: column;
}

.middleSection {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  overflow: hidden;
}

.overlayingPanel {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}

.sketcherViewport {
  flex: 1;
  position: relative;
}

.wizardArea {
  pointer-events: auto;
  position: relative;
  margin-left: 36px;
}

.spring {
  flex-grow: 1;
}

.middleRight {
  height: 100%;
}

.bottomStack {
  display: flex;
  flex-direction: column;
  position: relative;
  pointer-events: auto;
}