body {
  font-family: Monospace;
  overflow: hidden;
}

html, body {
  background: gray;
  height: 100%;
  padding: 0;
  margin: 0;
}

.logo {
  color: #fff;
  font-size: 16px;
  padding: 6px 0 0 10px;
}

.panel {
  background: #444;
  border: 0px solid black;
}
.b-top { border-top-width: 1px; }
.b-bot { border-bottom-width: 1px; }
.b-left { border-left-width: 1px; }
.b-right { border-right-width: 1px; }

.btn:hover {
  background-color: #808080;
  border-color: #ccc;
}

.btn {
  border:1px solid black;
  background-color: #606060;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-family: DejaVu Sans, Symbola, Everson Mono, Dingbats, Segoe UI Symbol,
        Quivira, SunExt-A, FreeSerif, Universalia, unifont;
  vertical-align: top;
}

.txt-btn {
  font-family: monospace;
  font-size: 14px;
}

.sbtn {
  min-width:20px;
  height:20px;
  line-height: 1.1;
  border-color: #999;
  padding: 1px 3px;
}

.rbtn {
  width:37px;
  height:37px;
  margin: 2px 6px;
  font-size: 22px;
  line-height: 1.1;
}

.tbtn {
  width:31px;
  height:31px;
  margin: 2px 2px;
  font-size: 20px;
  padding: 0;
}


.tlist {
  list-style-type: none;
  padding: 0px;
  margin:0;
  color: #fff;
}

.tlist li {
  border-bottom: 1px solid #777;
  padding: 4px 3px 4px  15px;
  cursor: pointer;
}

.tlist li:hover {
  background: #222;
}

.tool-caption {
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #000;
  padding: 0 0 0 3px;
  background: #333;
}

#status > * {
  margin: 1px;
}

.tool-caption .btn {
  width:14px;
  height:14px;
  font-size: 10px;
  line-height: 11px;
  margin-top: -1px;
}


.tlist .btn {
  width:18px;
  height:19px;
  font-size: 12px;
  line-height: 17px;
  margin-top: -2px;
}

.tlist .rm {
  visibility:hidden;
  padding-left: 5px;
}

.tlist li:hover .rm {
  visibility:visible;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  width: 2px;
}

.scroll::-webkit-scrollbar-track {
  background:#eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius:10px;
}
.scroll::-webkit-scrollbar-thumb {
  background:#999;
  border: thin solid gray;
  border-radius:10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background:#7d7d7d;
}


.win {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  left:100px;
  top:300px;
  background: #666;
  border: 2px solid #ccc;
}

.win .content {
  padding: 7px;
}

.sep {
  margin-right: 13px;
}


.pseudo-btn:hover {
  background-color: #808080;
}

.pseudo-btn {
  background-color: #606060;
  color: white;
  width: 18px; text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pseudo-btn a {
  color: white;
  text-decoration: none;
}