
.tc-box {
  position: absolute;
  margin-left: 0; margin-top: 0;
  top: 0; left: 0;
  width: 250px;
  background-color: #000;
}

.tc-panel {
  background-color: #000;
}

.tc-row, .tc-table li {
  height: 27px;
  line-height: 27px;
  overflow: hidden;
  padding: 0 4px 0 5px;
  border-bottom: 1px solid #2c2c2c;
}

.tc-title, .tc-chevron-open {
    padding-left: 16px;
    background: url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) no-repeat 6px 10px;
}

.tc-title {
    background-color: black;
    cursor: pointer;
}

.tc-folder {
  color: #eee;
  font: 11px 'Lucida Grande', sans-serif;
  background-color: #1a1a1a;
}

.tc-ctrl-btn {
  border-left: 3px solid #e61d5f;
  cursor: pointer;
}

.tc-ctrl-btn:hover {
  background-color: #000;
}

.tc-prop-name {
  cursor: default;
  float: left;
  clear: left;
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tc-prop-value {
  float: left;
  width: 60%;
}

.tc-ctrl input[type=text], .tc-ctrl select {
    color: #2fa1d6;
    background: #303030;
    outline: none;
    border: 0;
    margin-top: 4px;
    padding: 3px;
    width: 100%;
    float: right;
}

.tc-prop-value select {
  padding-bottom: 1px;  
  box-sizing: content-box;
}

.tc-ctrl-text input[type=text] {
  color:#1ed36f;
}

.tc-ctrl input[type=text]:focus {
  color: #eee;
}

.tc-scroll {
    overflow-y: auto;
    overflow-x: hidden;
}

.tc-scroll::-webkit-scrollbar {
    width: 2px;
}

.tc-scroll::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}
.tc-scroll::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid #444444;
    border-radius:10px;
}

.tc-scroll::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}

.tc-block-btn {
    border: 1px solid #606060;
    border-left-width: 0;
    padding: 1px 3px 1px 3px;
    color : #cccccc;
}

.tc-block-btn.active-btn:hover {
    background-color: #444444;
    cursor: pointer;
}

.tc-block-btn:first-child {
    border-left-width: 1px;
    border-radius: 5px 0 0 5px;
}

.tc-block-btn:last-child {
    border-radius: 0 5px 5px 0;
}

.tc-block-btn:last-child:first-child {
    border-radius: 5px;
}

.tc-buttons-block {
    text-align: right;
}

.tc-inline-radio label {
    padding-right: 5px;
}

.tc-pseudo-btn {  
    cursor : pointer;
}

.tc-pseudo-btn:hover {
    background-color: #000;
}

.tc-toolbar-btn:hover {
    cursor: pointer;
    background-color: #333;
    color: #fff;
}
.tc-toolbar-btn {
    color: #555;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.tc-squeezed-text {
    white-space: nowrap;
    font-size: 10px;
    font-family:  'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, sans-serif;;
}

.tc-toolbar-btn.action-disabled {
  color: #999;  
}

.tc-toolbar-btn.action-disabled:hover {
    color: #aaa;
    background-color: #888;
}

.tc-list .tc-row {
    background-position-y: center;
    background-position-x: 5px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding-left : 25px;    
}