@import "~ui/styles/theme.less";

.root {
  background-color: transparent;
  display: flex;

  align-items: flex-end;
  height: 38px;
  //&:hover .timesplitter .handlePoly {
  //  visibility: visible;
  //}
}

.timesplitter {
  width: 4px;
  height: 100%;
  cursor: pointer;
  align-items: flex-end;
  .handle {
    margin-left: -2px;
    font-size: 20px;
  }
}

.history {
  display: flex;
  align-items: flex-end;
  height: 100%;
  overflow-x: hidden;
  padding: 0 5px 0 10px;
}
.scroller {
  padding: 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: @font-color-minor;
  &:hover {
    background-color: @bg-color-4;
    color: @font-color-empph;
  }
  &:active {
    background-color: @bg-color-5;
    transition: 100ms;
  }
}

.timesplitter.active:not(.eoh) {
  background-color: @color-accent;
}

.handlePoly {
  fill: @font-color-minor;
  stroke: @bg-color-0;
  &:hover {
    fill: @color-accent;
    stroke: @bg-color-0;
  }
}

.timesplitter.active .handlePoly {
  fill: @color-accent;
  stroke: @bg-color-0;
}

.timesplitter.active.eoh .handlePoly {
  fill: @font-color-suppressed;
  stroke: @bg-color-0;
}



//ITEMS

.item {
  height: 24px;
  flex-shrink: 0;
  margin: 2px 0;
  padding: 2px;
  border: #2e2e2e 1px solid;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;

  cursor: pointer;
  &:active {
    transition: 300ms;
  }
}

.disabled {
  background-color: @bg-color-3;
  border-color: @border-color;
  color: @font-color-suppressed;
}

.controlBtn {
  .item;
  margin-left: 2px;
  margin-right: 2px;
  background-color: @bg-color-3;
  border-color: @border-color;
  color: @font-color-minor;
  &:hover {
    background-color: @bg-color-4;
    color: @font-color-empph;
  }
  &:active {
    background-color: @bg-color-5;
  }
  &.disabled {.disabled;}
}

.historyItem {
  .item;
  background-color: @bg-color-3;
  border-color: @border-color;
  color: @font-color-empph;
  &:hover {
    background-color: @bg-color-4;
  }
  &:active {
    background-color: @bg-color-5;
  }
  &.disabled {.disabled;}
  &.selected {
    border-color: #00ffe4;
  }
  &.inProgress {
    background-color: @inProgressColor;
  }
  
  position: relative;
  & .opIndex {
    position: absolute;
    right: 1px;
    bottom: 1px;
    text-shadow: 0px  -1px 0 #000, 0px 1px 0 #000, 1px 0px 0 #000, -1px 0px 0 #000, 
                -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  & .opIcon {
    margin-left: -6px;
    margin-top: -3px;
  }
  .opInfo {
    position: absolute;
    bottom: 20px;
  }
}

@inProgressColor: #648268;
.futureItem {
  .item;
  background-color: @inProgressColor;
  border: #ffffff88 1px dashed;
  margin-right: 4px;
  cursor: auto;
}

.add {
  .controlBtn;
  border: @border-color 1px dashed;
  color: @font-color-minor;
  &:hover {
    border-color: @font-color-empph;
    color: @font-color-empph;
  }
  &.disabled {.disabled;}
}
