#cursor {
  pointer-events: none;
  /* doing this makes sure .elementFromPoint
  do not acquires the image cursor object */
  position: absolute;
}

/* makes the cursor invisible */

* {
  cursor: none;
}
