body.theme-light {
  --hue-prim: 210;
  --saturation: 15%;

  --bg-color-0: hsl(var(--hue-prim), var(--saturation), 95%);
  --bg-color-1: hsl(var(--hue-prim), var(--saturation), 90%);
  --bg-color-2: hsl(var(--hue-prim), var(--saturation), 85%);
  --bg-color-3: hsl(var(--hue-prim), var(--saturation), 80%);
  --bg-color-4: hsl(var(--hue-prim), var(--saturation), 75%);
  --bg-color-5: hsl(var(--hue-prim), var(--saturation), 70%);
  --bg-color-6: hsl(var(--hue-prim), var(--saturation), 65%);
  --bg-color-7: hsl(var(--hue-prim), var(--saturation), 60%);
  --bg-color-8: hsl(var(--hue-prim), var(--saturation), 55%);
  --bg-color-9: hsl(var(--hue-prim), var(--saturation), 50%);

  --bg-base-color: var(--bg-color-1);

  --font-color-empph: #000;
  --font-color: hsl(0, 0, 15%);
  --font-color-minor: hsl(0, 0, 30%);
  --font-color-suppressed: hsl(0, 0, 45%);
  --font-color-disabled: hsl(0, 0, 55%);

  --border-color: var(--bg-color-6);

  --control-color-number: #1565a8;
  --control-color-text: #0d4a7a;
  --control-bg: #e0e0e0;

  --work-area-color: #d6dde3;

  --work-area-control-bar-bg-color: rgba(255, 255, 255, 0.7);
  --work-area-control-bar-bg-color-active: #ccc;
  --work-area-control-bar-font-color: var(--font-color-minor);

  --color-danger: #c00;
  --color-danger-light: #e03030;
  --color-accent: #1B6B1B;
  --color-accent-dark: #144a14;

  --color-neutral: #8893a0;
  --color-neutral-dark: #6a7480;
  --color-highlight: #b0d8f0;
  --color-highlight-dark: #80b0d0;

  --color-btn-selected: #8ab8d0;

  --on-color-highlight: rgba(90, 147, 187, 0.4);
  --on-color-highlight-variant-yellow: #b8860b;
  --on-color-highlight-variant-pink: #c71585;
  --on-color-highlight-variant-red: #cd3700;
  --on-color-highlight-variant-green: #228b22;
  --on-color-highlight-variant-blue: #4682b4;
}
